.lupa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 10px 10px;
}

.lupa2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 10px 10px;
}

.lupa img{
  margin-top: 2ch;
    width: 350%;
}

.lupa2 img{
  margin-top: 2ch;
  width: 550%;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 540px;
    height: 44px;
}


.busqueda{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 574px;
    height: 55px;
    border: 2px solid #6750A4;
    border-radius: 4px 4px 0px 0px;
    padding: 4px 16px 10px 4px;
    margin-bottom: 4ch;
    
}

.busqueda2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 374px;
    height: 55px;
    border: 2px solid #6750A4;
    border-radius: 4px 4px 0px 0px;
    padding: 4px 16px 10px 4px;
    margin-bottom: 4ch;
    
}

.busqueda3{
    align-items: center;
    width: 374px;
    height: 400px;
    border: 2px solid #6750A4;
    border-radius: 4px 4px 0px 0px;
    padding: 4px 16px 10px 4px;
    margin-bottom: 4ch;
    margin-left: 3ch;
    color: black;
}

.busqueda4{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 374px;
  height: 55px;
  border: 2px solid #6750A4;
  border-radius: 4px 4px 0px 0px;
  padding: 4px 16px 10px 4px;
  margin-bottom: 1ch;
  
}

.input{
    display:flex;
    width: 526px;
    height: 35px;
    padding: 0px 0px 0px 0px;
    background-color:  #ffffff;
    border: none;
    outline: none;
    color: var(--m-3-sys-light-primary, #6750A4);
    
}

.input2{
    display:flex;
    width: 326px;
    height: 35px;
    padding: 0px 0px 0px 0px;
    background-color:  #Fff;
    border: none;
    outline: none;
    color: var(--m-3-sys-light-primary, #6750A4);
    
}

.input3{
  display:flex;
  width: 326px;
  height: 35px;
  padding: 0px 0px 0px 0px;
  background-color:  #Fff;
  border: none;
  outline: none;
  color: var(--m-3-sys-light-primary, #6750A4);
  
}

.placeholder{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 280px;
    height: 15px;
    color: var(--m-3-sys-light-primary, #6750A4);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}




/* En barrareserva.module.css */
.resultadosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .resultadosGrid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .resultadoBox {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 40px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
    width: 314px;
    height: 434px;
    top: 219px;
    left: 174px;
    border-radius: 12px;
    color:black;


  }

  .resultadoImg{
    align-items: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(20, 142, 142);

  }
  
  .resultadoBox h2 {
    margin: 0;
  }
  
  .resultadoBox h3 {
    margin: 0;
    font-weight: normal;
  }
  
  .resultadoBox img {
    width: 100%;
    max-height: 150px;
  }
  
  .categoryX{
    background: transparent;
    border: none;  
    color-scheme: white;
    width: 18px;
    height: 18px;
    padding: 3.75px;

  }

.categoryTagContainer {
  display: flex; /* o display: inline-flex; */
  margin: 2px; /* Espacio entre las etiquetas */
}

.categoryTag {
  border: 1px solid #ccc; /* Estilo, ancho y color del borde */
  padding: 2px 5px; /* Espaciado interno para que el borde no esté pegado al texto */
  margin-right: 5px; /* Espacio entre las etiquetas */
  color: #6750A4;
  border-radius: 8px;
  background-color: none;
  margin-bottom: 4ch;

}

.boton{
  display: flex;
  width: 100px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: var(--m-3-sys-light-primary, #6750A4);
  outline: none;
  color: var(--m-3-sys-light-on-primary, #FFF);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 24px;
  border: none;
  position: fixed;
  top: 350px;
  left: 1136px;
  border-radius: 100px;
  gap: 8px


  
}

.recuadro1{
 
  align-items: start;
  width: 1090px;;
  height: 328px;
  background-color: #FEF7FF;
 

  
}
