@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');




.icono1{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;

}

.titulobarra{
    color: var(--m-3-sys-light-on-surface, #1D1B20);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}

.titulo2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #CAC4D0;
    height: 80px;
    width: 100%;
  
}

.titulo2 span{
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}

.icono2{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}

.icono2 img{
    width: 100%;
}

.icono1 img{
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #Fff;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    flex-direction: row;
    padding: 8px 0px;
    background: var(--m-3-sys-light-surface-container, #F3EDF7);
    position: sticky;
    z-index: 99px;
    top:0px;
}

.xd{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.barralateral{
    width: 200px;
    height: 730px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: #D9D9D9;
    padding: 20px 0px 0px 0px;
}


.li{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    color: var(--m-3-sys-light-primary, #6750A4);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    width: 53%;
    height: 30px;
    padding: 10px 0px;
}

.li:hover{
    background-color:#CAC4D0;
    color:#1D1B20;
    transition: 0.5s all;
}

.parte2{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    height: 700px;
    gap:10px;
    
}


.cuadro1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left:5px ;
    width: 30%;
    height: 580px;
}



.articulo1{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background: #F3EDF7; 
}


.label{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 48px;
    border: 2px solid #6750A4;
    border-radius: 4px 4px 0px 0px;
    padding: 4px 16px 4px 0px;
}

.input{
    display:flex;
    width: 284px;
    height: 25px;
    padding: 8px 0px 8px 0px;
    background-color:  #F3EDF7;
    border: none;
    outline: none;
}

.placeholder{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 280px;
    color: var(--m-3-sys-light-primary, #6750A4);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.libros{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

.recuadro1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 98%;
    height: 76px;
    margin: 10px 10px;
    
    
}

.lupa{
    top: 0;
    right: 0;
    width: 50px;
    height: 0px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.i {
    
    color: rgb(93, 94, 95); 
}

button.hover i{
    color: rgb(162, 163, 163);
}


.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: none;
    color: var(--m-3-sys-light-on-primary, #FFF);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}

.aside {

}